
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, system-ui, Arial;
}

body {
  background: radial-gradient(circle at top left, #0f172a, #020617);
  color: #e5e7eb;
  min-height: 100vh;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 26px;
  padding: 50px;
  max-width: 1300px;
  margin: auto;
}


.card {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 26px;
  border: 1px solid rgba(255,255,255,0.05);

  transition: all 0.25s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 40px rgba(0,0,0,0.6);
}


.card h3 {
  font-size: 20px;
  color: #cbd5e1;
}


.card h2 {
  font-size: 38px;
  margin: 14px 0;
  font-weight: 800;
  color: white;
}


.timer {
  display: inline-block;
  background: #1e293b;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  margin-bottom: 16px;
  color: #94a3b8;
}


button {
  width: 100%;
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(59,130,246,0.5);
}


.flash {
  animation: flashGreen 0.35s ease;
}

@keyframes flashGreen {
  0% { box-shadow: 0 0 0px #22c55e; }
  50% { box-shadow: 0 0 30px #22c55e; }
  100% { box-shadow: 0 0 0px transparent; }
}


.outbid {
  animation: flashRed 0.6s ease;
}

@keyframes flashRed {
  0% { box-shadow: 0 0 0px #ef4444; }
  50% { box-shadow: 0 0 30px #ef4444; }
  100% { box-shadow: 0 0 0px transparent; }
}

/* ---------------------------
   WINNING BADGE
---------------------------- */
.win {
  position: absolute;
  top: 12px;
  right: 12px;

  background: #22c55e;
  color: black;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;

  animation: pulse 1.5s infinite;
}

/* glowing pulse animation */
@keyframes pulse {
  0% { box-shadow: 0 0 0px #22c55e; }
  50% { box-shadow: 0 0 18px #22c55e; }
  100% { box-shadow: 0 0 0px transparent; }
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding-top: 30px;
  color: white;
}
